.input-group .input-group-text {
    width: 100%;
}

.btn.btn-secondary {
    color: white;
}

td, th {
    vertical-align: middle !important;
}

.middle-center {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
